<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf=" authenticatorService.autenticado()">
  <div class="container-fluid">

    <div class="float-start">

      <fa-icon [icon]="faBars" style="color: white; font-size: 20px; cursor: pointer;"></fa-icon>

      <a class="navbar-brand" style="margin-left: 20px;">Empresa teste</a>

    </div>

    <div class="float-end">

      <div class="nav-item dropstart">
        <button class="btn btn-outline-light dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">{{this.authenticatorService.obterUsuario()}}</button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" (click)="deslogar()">Sair</a></li>
        </ul>
      </div>

    </div>

  </div>
</nav>