<div class="form-group">
  <label [attr.for]="id" class="control-label"> {{ label }} </label>

  <input [type]="type" 
         class="form-control" 
         [id]="id" 
         [readOnly]="!!isReadOnly"
         [(ngModel)]="value"
         (mousedown)="touched = true"
         [disabled]="isDisabled"
         [placeholder]="placeholder"
         [mask]="mask">
    
    <div class="float-start" *ngIf="required && value.length == 0 && touched" style="color: red">Campo obrigatório*</div>

    <div class="float-end" *ngIf="maxLength != ''">{{value?.length}} /  {{maxLength}}</div> 
</div>