.autoComplete {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}

.autoCompleteItem {
    cursor: pointer;
    color: gray;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
    font-size: 18px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.autoCompleteItem:hover {
    background-color: #eee;
}