<form [formGroup]="form" class="mb-4">
  
  <label [attr.for]="formControlName">{{label}}{{required ? '*': null}}</label>

  <input (focus)="activeAutoComplete = true" (blur)="closeAutoComplete()"
  [type]="type" 
  class="form-control"
  [id]="formControlName" 
  [readOnly]="!!isReadOnly"
  [placeholder]="placeholder"
  [mask]="mask"
  [prefix]="prefix"
  [formControlName]="formControlName"
  [autocomplete]="option == null && activeAutoComplete? 'on' : 'off' ">

  <app-auto-complete *ngIf="option != null && activeAutoComplete && this.form.get(formControlName)?.value != valorAutoComplete" (bindAttributesForAutoComplete)="this.form.get(formControlName)?.setValue($event); valorAutoComplete = $event; activeAutoComplete = false" [parametroBusca]="form.get(formControlName)?.value" [option]="option"></app-auto-complete>
    
    <div class="float-start" *ngIf="form.controls[formControlName].status == 'INVALID' && form.controls[formControlName].touched" style="color: red">Campo obrigatório</div>

    <div class="float-end" *ngIf="maxLength">{{form.get(formControlName)?.value.toString().length}} /  {{maxLength}}</div> 

</form>