.loginFormDiv {
    height: 60%;
}

.loginForm {
    margin-top: 10%;
    box-shadow: 0 30px 60px 0 gray;
    width: 33%;
}

.loginForm:hover {
    box-shadow: 0 30px 60px 0 rgb(54, 54, 54);
}

.form-control {
    height: 50%;
}

.btn-secondary {
    background-color: #8d448b;
}