<div class="d-flex justify-content-center loginFormDiv">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="loginForm d-flex justify-content-center align-items-center flex-column">

        <p class="fs-2">Bem Vindo!</p>

        <div class="form-group mt-3 col-9">
            <input type="text" class="form-control" formControlName="usuario" placeholder="Usuário*">
            <div *ngIf="loginForm.get('usuario')?.touched && !loginForm.get('usuario')?.valid" style="color: red;">Campo obrigatório</div>
        </div>

        <div class="form-group mt-3 col-9">
            <input type="password" class="form-control" formControlName="senha" placeholder="Senha*">
            <div *ngIf="loginForm.get('senha')?.touched && !loginForm.get('senha')?.valid" style="color: red">Campo obrigatório</div>
        </div>

        <div class="form-group mt-3">
            <input type="submit" class="btn btn-primary btn-lg" value="Entrar" [disabled]="!loginForm.get('senha')?.valid && !loginForm.get('senha')?.valid">
        </div>

    </form>
</div>

<div class="row fixed-bottom">
    <div class="container text-center text-light bg-dark p-1">
        @ 2022  Copyright Matheus Romeike
    </div>
</div>