<div class="container d-flex justify-content-center mt-5">

    <div class="col-4 mt-5">
        <div class="card shadow round mt-5">
            <div class="card-header">
                <h3>Bem Vindo!</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label class="form-label">Usuário</label>
                        <input type="text" class="form-control" placeholder="Usuário" formControlName="usuario">
                        <div *ngIf="loginForm.get('usuario')?.errors?.['required'] && loginForm.get('usuario')?.touched" style="color:red">Usuário obrigatório</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Senha</label>
                        <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
                        <div *ngIf="loginForm.get('senha')?.errors?.['required'] && loginForm.get('senha')?.touched" style="color:red">Senha obrigatória</div>
                    </div>
                    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" (click)="submitLogin()">Entrar</button>
                </form>
            </div>
        </div>
    </div>

</div>

<div class="row fixed-bottom">
    <div class="container text-center text-light bg-dark p-1">
        @ 2022  Copyright Matheus Romeike
    </div>
</div>