.loginFormDiv {
    height: 100%;
    width: 100%;
}

.loginForm {
    box-shadow: 0 30px 60px 0 gray;
    width: 40%;
    height: 50%;
    border: 5px solid pink;
}

.loginForm:hover {
    box-shadow: 0 30px 60px 0 rgb(54, 54, 54);
}

.btn-secondary {
    background-color: #8d448b;
}

.pink-border {
    border: 5px solid pink;
}