<div class="side-nav-content">

  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">

    <mat-accordion>
      <mat-expansion-panel class="mb-2" style="background: none;" *ngFor="let item of list" (click)="sideNavToggle()">
        <mat-expansion-panel-header style="padding-left: 0;">
          <mat-panel-title style="font-size: 19px; font-family: Arial, Helvetica, sans-serif;">
            <fa-icon class="header-icon" [icon]="item.icon"></fa-icon>
            {{item.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion>
          <mat-expansion-panel style="background: none;" *ngFor="let categoria of item.categoria">
            <mat-expansion-panel-header>
              <mat-panel-title style="font-size: 17px; font-family: Arial, Helvetica, sans-serif;">
                <fa-icon class="category-icon" [icon]="categoria.icon"></fa-icon>
                {{categoria.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <div class="d-flex flex-column" style="cursor: pointer;" *ngFor="let subCategoria of categoria.subCategoria" [routerLink]="item.route + subCategoria.route" routerLinkActive="active" >
              <div class="clickavel">
                <fa-icon style="font-size: 16px;" [icon]="subCategoria.icon"></fa-icon>
                <a class="col-12 text-left" style=" font-size: 16px; font-family: Arial, Helvetica, sans-serif; text-decoration: none; color: white;"> {{subCategoria.name}} </a>
              </div>
            </div>
    
    
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>

  </ul>
</div>