<form [formGroup]="form">
  <app-input-field *ngFor="let field of fields"
        class="mt-2 col-8"
        [placeholder]="field.placeholder"
        [type]="field.type"
        [formControlName]="field.formControlName"
        [form]="form"
        [maxLength]="field.maxLength"
        [required]="field.required"
        [mask]="field.mask"
        [label]="field.label"
        [thousandSeparator]="field.thousandSeparator"
        [prefix]="field.prefix"
        [optionId]="field.optionId"
        [option]="field.option"
  ></app-input-field>
</form>