app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}

main {
  position: absolute;
  top: 4rem;
  width: 100%;
  z-index: 1;
}

app-side-nav {
  position: absolute;
  left: 0rem;
  width: 60px;
  height: calc(100vh - 4rem);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  border-top: 1px solid white;
  overflow: hidden;
  white-space: nowrap;
  transition: width 250ms linear;
}

.app-side-nav-open {
  width: 350px;
}

.display-area {
  position: absolute;
  left: 60px;
  width: calc(100% - 60px);
  transition: left 250ms linear, width 250ms linear;
}

.display-area-shrink {
  width: calc(100% - 350px);
  left: 350px;
}

.conteudo {
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.naoLogado {
  height: 100%;
  width: 100%;
}

app-login {
  height: 100%;
}