<div class="container-fluid g-0" *ngIf="authenticatorService.logado$ | async">
    <app-header [menuStatus]="sideNavStatus" (sideNavToggled)="sideNavStatus = $event"></app-header>

    <main>
        <app-side-nav (sideNavToggled)="sideNavStatus = $event" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

        <div class="display-area" (click)="sideNavStatus = false" [ngClass]="{'display-area-shrink': sideNavStatus}">
            <div class="conteudo"><router-outlet></router-outlet></div>
        </div>
        
    </main>
    
</div>

<div class="naoLogado" *ngIf="!(authenticatorService.logado$ | async)">
    <app-login></app-login>
</div>    

<app-loading></app-loading>
<app-alert></app-alert>