.nav-item {
  align-self: center !important;
  margin-right: 20px;
}

.nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #aca000;
}

.navbar-brand {
  margin-left: 50px;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    margin-right: 30px;
  }

  .navbar-expand-lg {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  }
}

@media screen and (max-width: 991px) {
  .container-fluid {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  }

  .navbar-expand-lg {
    padding-bottom: 0;
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #f8f9fa;
  }

  .nav-item {
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.logo {
  width: 160px;
  height: auto;
}
